# Data Manipulation in Python
## INFORMS 2020 Python Workshop
### Amy Newman

- Data manipulation
- Amy
- loading / saving JSON (maybe with taxi tweets? lol)
- loading / saving pandas
- viewing / selecting pandas
- checking / changing column types 
- Especially pd.to_datetime() for the date data
- I (Jeff) used this in a talk a while ago and will use it on Saturday morning again to talk about optimization. I don’t think we really need to go into all these options in this lesson. It might be good to flag that there are many ways to do the same thing, such as making a column an integer, though, and that in most cases they’re all equally good choices. 
- summarizing
- replacing
- make new columns (vector ops)
- applying functions to columns
- renaming things
- groupby and unstack
- break at the end of this. 
- Resample and timedelta

## Import Packages

In [37]:
import pandas as pd
import json

## Loading / Saving JSON 
- JSON (Javascript Object Notation)
    - it's a standardized format to pass data around; it's easy for machines and humans to use
    - it's a form of text data written in Javascript notation and can be sent to and from a server
    - Twitter and Facebook are examples where you would retrieve data in JSON format

In [118]:
#--JSON: kind of looks like a dictionary, huh?


json = {
    "firstName": "Alan",
    "lastName": "Doe",
    "hobbies": ["running", "climbing", "dancing"],
    "age": 35,
    "children": [
        {
            "firstName": "Sam",
            "age": 6
        },
        {
            "firstName": "Jamie",
            "age": 8
        }
    ]
}

In [119]:
json['firstName']

'Alan'

In [123]:
json['children'][0]['firstName']

'Sam'

In [65]:
#--Loading JSON Tweet data--
with open('data/tweets_from_nyc_taxis.json', 'r') as f:
    tweets = f.readlines()

In [60]:
len(data)

13269

In [127]:
tw_lst = []
for elem in tweets:
    tw_lst.append(elem)

In [131]:
tw_lst[0]

'{"created_at": "Tue May 01 14:18:26 +0000 2018", "id": 991320947700523009, "id_str": "991320947700523009", "text": "@NeilECollins @nyc311 Thank you for reading, Mr. Collins.  Having a TLC driver license is a privilege.  Taxi passen\\u2026 https://t.co/78C3glo1yl", "truncated": true, "entities": {"hashtags": [], "symbols": [], "user_mentions": [{"screen_name": "NeilECollins", "name": "Neil Collins", "id": 2813412205, "id_str": "2813412205", "indices": [0, 13]}, {"screen_name": "nyc311", "name": "New York City 311", "id": 37683414, "id_str": "37683414", "indices": [14, 21]}], "urls": [{"url": "https://t.co/78C3glo1yl", "expanded_url": "https://twitter.com/i/web/status/991320947700523009", "display_url": "twitter.com/i/web/status/9\\u2026", "indices": [117, 140]}]}, "source": "<a href=\\"http://twitter.com\\" rel=\\"nofollow\\">Twitter Web Client</a>", "in_reply_to_status_id": 991311021905207298, "in_reply_to_status_id_str": "991311021905207298", "in_reply_to_user_id": 2813412205, "in_reply_to_user_id_str": "2813412205", "in_reply_to_screen_name": "NeilECollins", "user": {"id": 94163495, "id_str": "94163495", "name": "NYC TLC", "screen_name": "nyctaxi", "location": "New York, NY", "description": "The TLC is the City agency that regulates app-based and traditional black & livery cars, yellow & green taxicabs,  ambulettes, commuter vans & some limousines.", "url": "https://t.co/vb35n2OpJo", "entities": {"url": {"urls": [{"url": "https://t.co/vb35n2OpJo", "expanded_url": "http://nyc.gov/tlc", "display_url": "nyc.gov/tlc", "indices": [0, 23]}]}, "description": {"urls": []}}, "protected": false, "followers_count": 13544, "friends_count": 677, "listed_count": 366, "created_at": "Wed Dec 02 20:00:22 +0000 2009", "favourites_count": 1186, "utc_offset": -14400, "time_zone": "Eastern Time (US & Canada)", "geo_enabled": true, "verified": true, "statuses_count": 4260, "lang": "en", "contributors_enabled": false, "is_translator": false, "is_translation_enabled": false, "profile_background_color": "A8C75A", "profile_background_image_url": "http://abs.twimg.com/images/themes/theme1/bg.png", "profile_background_image_url_https": "https://abs.twimg.com/images/themes/theme1/bg.png", "profile_background_tile": false, "profile_image_url": "http://pbs.twimg.com/profile_images/646340365897854976/1ta6i3EL_normal.jpg", "profile_image_url_https": "https://pbs.twimg.com/profile_images/646340365897854976/1ta6i3EL_normal.jpg", "profile_banner_url": "https://pbs.twimg.com/profile_banners/94163495/1412198408", "profile_link_color": "F28043", "profile_sidebar_border_color": "FFFFFF", "profile_sidebar_fill_color": "DDEEF6", "profile_text_color": "333333", "profile_use_background_image": false, "has_extended_profile": false, "default_profile": false, "default_profile_image": false, "following": null, "follow_request_sent": null, "notifications": null, "translator_type": "none"}, "geo": null, "coordinates": null, "place": null, "contributors": null, "is_quote_status": false, "retweet_count": 0, "favorite_count": 0, "favorited": false, "retweeted": false, "lang": "en"}\n'

In [125]:
tweets[0]

'{"created_at": "Tue May 01 14:18:26 +0000 2018", "id": 991320947700523009, "id_str": "991320947700523009", "text": "@NeilECollins @nyc311 Thank you for reading, Mr. Collins.  Having a TLC driver license is a privilege.  Taxi passen\\u2026 https://t.co/78C3glo1yl", "truncated": true, "entities": {"hashtags": [], "symbols": [], "user_mentions": [{"screen_name": "NeilECollins", "name": "Neil Collins", "id": 2813412205, "id_str": "2813412205", "indices": [0, 13]}, {"screen_name": "nyc311", "name": "New York City 311", "id": 37683414, "id_str": "37683414", "indices": [14, 21]}], "urls": [{"url": "https://t.co/78C3glo1yl", "expanded_url": "https://twitter.com/i/web/status/991320947700523009", "display_url": "twitter.com/i/web/status/9\\u2026", "indices": [117, 140]}]}, "source": "<a href=\\"http://twitter.com\\" rel=\\"nofollow\\">Twitter Web Client</a>", "in_reply_to_status_id": 991311021905207298, "in_reply_to_status_id_str": "991311021905207298", "in_reply_to_user_id": 2813412205, "in_reply_to_user_id_str": "2813412205", "in_reply_to_screen_name": "NeilECollins", "user": {"id": 94163495, "id_str": "94163495", "name": "NYC TLC", "screen_name": "nyctaxi", "location": "New York, NY", "description": "The TLC is the City agency that regulates app-based and traditional black & livery cars, yellow & green taxicabs,  ambulettes, commuter vans & some limousines.", "url": "https://t.co/vb35n2OpJo", "entities": {"url": {"urls": [{"url": "https://t.co/vb35n2OpJo", "expanded_url": "http://nyc.gov/tlc", "display_url": "nyc.gov/tlc", "indices": [0, 23]}]}, "description": {"urls": []}}, "protected": false, "followers_count": 13544, "friends_count": 677, "listed_count": 366, "created_at": "Wed Dec 02 20:00:22 +0000 2009", "favourites_count": 1186, "utc_offset": -14400, "time_zone": "Eastern Time (US & Canada)", "geo_enabled": true, "verified": true, "statuses_count": 4260, "lang": "en", "contributors_enabled": false, "is_translator": false, "is_translation_enabled": false, "profile_background_color": "A8C75A", "profile_background_image_url": "http://abs.twimg.com/images/themes/theme1/bg.png", "profile_background_image_url_https": "https://abs.twimg.com/images/themes/theme1/bg.png", "profile_background_tile": false, "profile_image_url": "http://pbs.twimg.com/profile_images/646340365897854976/1ta6i3EL_normal.jpg", "profile_image_url_https": "https://pbs.twimg.com/profile_images/646340365897854976/1ta6i3EL_normal.jpg", "profile_banner_url": "https://pbs.twimg.com/profile_banners/94163495/1412198408", "profile_link_color": "F28043", "profile_sidebar_border_color": "FFFFFF", "profile_sidebar_fill_color": "DDEEF6", "profile_text_color": "333333", "profile_use_background_image": false, "has_extended_profile": false, "default_profile": false, "default_profile_image": false, "following": null, "follow_request_sent": null, "notifications": null, "translator_type": "none"}, "geo": null, "coordinates": null, "place": null, "contributors": null, "is_quote_status": false, "retweet_count": 0, "favorite_count": 0, "favorited": false, "retweeted": false, "lang": "en"}\n'

In [71]:
#--Pretty print the first tweet to get a sense of the data--
parsed = json.loads(tweets[0])
print(json.dumps(parsed, indent=4, sort_keys=True))

{
    "contributors": null,
    "coordinates": null,
    "created_at": "Tue May 01 14:18:26 +0000 2018",
    "entities": {
        "hashtags": [],
        "symbols": [],
        "urls": [
            {
                "display_url": "twitter.com/i/web/status/9\u2026",
                "expanded_url": "https://twitter.com/i/web/status/991320947700523009",
                "indices": [
                    117,
                    140
                ],
                "url": "https://t.co/78C3glo1yl"
            }
        ],
        "user_mentions": [
            {
                "id": 2813412205,
                "id_str": "2813412205",
                "indices": [
                    0,
                    13
                ],
                "name": "Neil Collins",
                "screen_name": "NeilECollins"
            },
            {
                "id": 37683414,
                "id_str": "37683414",
                "indices": [
                    14,
                    21
                ],
                "name": "New York City 311",
                "screen_name": "nyc311"
            }
        ]
    },
    "favorite_count": 0,
    "favorited": false,
    "geo": null,
    "id": 991320947700523009,
    "id_str": "991320947700523009",
    "in_reply_to_screen_name": "NeilECollins",
    "in_reply_to_status_id": 991311021905207298,
    "in_reply_to_status_id_str": "991311021905207298",
    "in_reply_to_user_id": 2813412205,
    "in_reply_to_user_id_str": "2813412205",
    "is_quote_status": false,
    "lang": "en",
    "place": null,
    "retweet_count": 0,
    "retweeted": false,
    "source": "<a href=\"http://twitter.com\" rel=\"nofollow\">Twitter Web Client</a>",
    "text": "@NeilECollins @nyc311 Thank you for reading, Mr. Collins.  Having a TLC driver license is a privilege.  Taxi passen\u2026 https://t.co/78C3glo1yl",
    "truncated": true,
    "user": {
        "contributors_enabled": false,
        "created_at": "Wed Dec 02 20:00:22 +0000 2009",
        "default_profile": false,
        "default_profile_image": false,
        "description": "The TLC is the City agency that regulates app-based and traditional black & livery cars, yellow & green taxicabs,  ambulettes, commuter vans & some limousines.",
        "entities": {
            "description": {
                "urls": []
            },
            "url": {
                "urls": [
                    {
                        "display_url": "nyc.gov/tlc",
                        "expanded_url": "http://nyc.gov/tlc",
                        "indices": [
                            0,
                            23
                        ],
                        "url": "https://t.co/vb35n2OpJo"
                    }
                ]
            }
        },
        "favourites_count": 1186,
        "follow_request_sent": null,
        "followers_count": 13544,
        "following": null,
        "friends_count": 677,
        "geo_enabled": true,
        "has_extended_profile": false,
        "id": 94163495,
        "id_str": "94163495",
        "is_translation_enabled": false,
        "is_translator": false,
        "lang": "en",
        "listed_count": 366,
        "location": "New York, NY",
        "name": "NYC TLC",
        "notifications": null,
        "profile_background_color": "A8C75A",
        "profile_background_image_url": "http://abs.twimg.com/images/themes/theme1/bg.png",
        "profile_background_image_url_https": "https://abs.twimg.com/images/themes/theme1/bg.png",
        "profile_background_tile": false,
        "profile_banner_url": "https://pbs.twimg.com/profile_banners/94163495/1412198408",
        "profile_image_url": "http://pbs.twimg.com/profile_images/646340365897854976/1ta6i3EL_normal.jpg",
        "profile_image_url_https": "https://pbs.twimg.com/profile_images/646340365897854976/1ta6i3EL_normal.jpg",
        "profile_link_color": "F28043",
        "profile_sidebar_border_color": "FFFFFF",
        "profile_sidebar_fill_color": "DDEEF6",
        "profile_text_color": "333333",
        "profile_use_background_image": false,
        "protected": false,
        "screen_name": "nyctaxi",
        "statuses_count": 4260,
        "time_zone": "Eastern Time (US & Canada)",
        "translator_type": "none",
        "url": "https://t.co/vb35n2OpJo",
        "utc_offset": -14400,
        "verified": true
    }
}

In [74]:
your_json = '["foo", {"bar":["baz", null, 1.0, 2]}]'
parsed = json.loads(your_json)
print(json.dumps(parsed, indent=4, sort_keys=True))

[
    "foo",
    {
        "bar": [
            "baz",
            null,
            1.0,
            2
        ]
    }
]

In [98]:
#--Loading and saving the JSON data--
with open('data/tweets_from_nyc_taxis.json', 'r', encoding='utf-8') as f:
    data = f.read()

In [99]:
type(data)

str

In [100]:
#--Loading and saving the JSON data--
with open('data/tweets_from_nyc_taxis.json', 'r') as f:
    data = f.readlines()

In [102]:
type(data)

list

In [117]:
#--Loading JSON Twitter data--
taxi_tweets = 'data/tweets_from_nyc_taxis.json'

with open(taxi_tweets) as f:
    data = json.loads(f.read())

JSONDecodeError: Extra data: line 2 column 1 (char 3082)

In [109]:
#--Saving JSON data to a file--
file_name = "data/data_file.json" 

with open(file_name, "w") as write_file:
    json.dump(data, write_file)

## Loading / Saving pandas

In [19]:
#--Loading a .csv file to pandas--
zones = pd.read_csv('data/taxi_zones_simple.csv')

In [18]:
#--taking a look at the first 5 rows to see if it loaded ok--
zones.head()

   locationid                     zone        borough
0           1           Newark Airport            EWR
1           2              Jamaica Bay         Queens
2           3  Allerton/Pelham Gardens          Bronx
3           4            Alphabet City      Manhattan
4           5            Arden Heights  Staten Island

In [20]:
trips = pd.read_csv('data/clean_taxi_sample.tsv.gz', sep='\t')

In [21]:
trips.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2018-01-01 00:00:00,2018-01-01 00:00:00,1,9.14,1,N,229,17,2,27.0,0.0,0.5,0.0,0.0,0.3,27.8
1,2,2018-01-01 00:00:02,2018-01-01 00:08:48,1,1.36,1,N,68,249,2,7.5,0.5,0.5,0.0,0.0,0.3,8.8
2,1,2018-01-01 00:00:03,2018-01-01 00:21:06,1,6.10,1,N,255,236,2,20.5,0.5,0.5,0.0,0.0,0.3,21.8
3,2,2018-01-01 00:00:03,2018-01-01 00:03:52,3,0.99,1,N,236,43,2,5.5,0.5,0.5,0.0,0.0,0.3,6.8
4,1,2018-01-01 00:00:04,2018-01-01 00:13:24,1,3.60,1,N,37,157,2,13.5,0.5,0.5,0.0,0.0,0.3,14.8

## Viewing / Selecting pandas

In [136]:
#--Viewing your data--
trips.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2018-01-01 00:00:00,2018-01-01 00:00:00,1,9.14,1,N,229,17,2,27.0,0.0,0.5,0.0,0.0,0.3,27.8
1,2,2018-01-01 00:00:02,2018-01-01 00:08:48,1,1.36,1,N,68,249,2,7.5,0.5,0.5,0.0,0.0,0.3,8.8
2,1,2018-01-01 00:00:03,2018-01-01 00:21:06,1,6.10,1,N,255,236,2,20.5,0.5,0.5,0.0,0.0,0.3,21.8
3,2,2018-01-01 00:00:03,2018-01-01 00:03:52,3,0.99,1,N,236,43,2,5.5,0.5,0.5,0.0,0.0,0.3,6.8
4,1,2018-01-01 00:00:04,2018-01-01 00:13:24,1,3.60,1,N,37,157,2,13.5,0.5,0.5,0.0,0.0,0.3,14.8

In [137]:
trips.head(7)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2018-01-01 00:00:00,2018-01-01 00:00:00,1,9.14,1,N,229,17,2,27.0,0.0,0.5,0.00,0.0,0.3,27.80
1,2,2018-01-01 00:00:02,2018-01-01 00:08:48,1,1.36,1,N,68,249,2,7.5,0.5,0.5,0.00,0.0,0.3,8.80
2,1,2018-01-01 00:00:03,2018-01-01 00:21:06,1,6.10,1,N,255,236,2,20.5,0.5,0.5,0.00,0.0,0.3,21.80
3,2,2018-01-01 00:00:03,2018-01-01 00:03:52,3,0.99,1,N,236,43,2,5.5,0.5,0.5,0.00,0.0,0.3,6.80
4,1,2018-01-01 00:00:04,2018-01-01 00:13:24,1,3.60,1,N,37,157,2,13.5,0.5,0.5,0.00,0.0,0.3,14.80
5,2,2018-01-01 00:00:04,2018-01-01 00:08:13,1,1.59,1,N,141,161,2,8.0,0.5,0.5,0.00,0.0,0.3,9.30
6,1,2018-01-01 00:00:06,2018-01-01 00:24:34,1,6.90,1,N,162,49,1,23.5,0.5,0.5,4.95,0.0,0.3,29.75

In [139]:
#--Selecting data based on values in a column--
id2 = trips.loc[trips['VendorID'] == 2]
id2.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2018-01-01 00:00:00,2018-01-01 00:00:00,1,9.14,1,N,229,17,2,27.0,0.0,0.5,0.00,0.0,0.3,27.80
1,2,2018-01-01 00:00:02,2018-01-01 00:08:48,1,1.36,1,N,68,249,2,7.5,0.5,0.5,0.00,0.0,0.3,8.80
3,2,2018-01-01 00:00:03,2018-01-01 00:03:52,3,0.99,1,N,236,43,2,5.5,0.5,0.5,0.00,0.0,0.3,6.80
5,2,2018-01-01 00:00:04,2018-01-01 00:08:13,1,1.59,1,N,141,161,2,8.0,0.5,0.5,0.00,0.0,0.3,9.30
12,2,2018-01-01 00:00:15,2018-01-01 00:14:17,1,2.06,1,N,90,137,1,10.5,0.5,0.5,2.36,0.0,0.3,14.16

In [142]:
#--Combining multiple conditions--
trips.loc[(trips['trip_distance'] >= 5) & (trips['trip_distance'] <= 10)] #--want all trips beteween 5 and 10 miles

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2018-01-01 00:00:00,2018-01-01 00:00:00,1,9.14,1,N,229,17,2,27.0,0.0,0.5,0.00,0.0,0.3,27.80
2,1,2018-01-01 00:00:03,2018-01-01 00:21:06,1,6.10,1,N,255,236,2,20.5,0.5,0.5,0.00,0.0,0.3,21.80
6,1,2018-01-01 00:00:06,2018-01-01 00:24:34,1,6.90,1,N,162,49,1,23.5,0.5,0.5,4.95,0.0,0.3,29.75
22,1,2018-01-01 00:00:25,2018-01-01 00:20:37,1,7.40,1,N,237,116,2,24.0,0.5,0.5,0.00,0.0,0.3,25.30
40,2,2018-01-01 00:00:39,2018-01-01 00:28:19,1,5.33,1,N,238,142,2,22.0,0.5,0.5,0.00,0.0,0.3,23.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19977,1,2018-01-01 01:10:49,2018-01-01 01:41:24,2,5.30,1,N,148,143,1,23.0,0.5,0.5,4.85,0.0,0.3,29.15
19987,2,2018-01-01 01:10:51,2018-01-01 01:24:32,1,5.40,1,N,231,233,1,17.0,0.5,0.5,0.00,0.0,0.3,18.30
19991,1,2018-01-01 01:10:52,2018-01-01 01:40:14,1,9.40,1,N,229,181,1,30.0,0.5,0.5,9.35,0.0,0.3,40.65
19998,1,2018-01-01 01:10:54,2018-01-01 01:35:00,1,8.00,1,N,141,255,1,26.5,0.5,0.5,5.55,0.0,0.3,33.35
19999,1,2018-01-01 01:10:54,2018-01-01 01:38:01,2,5.40,1,N,249,236,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30

In [144]:
#--Extracting rows without a certain condition--
trips.loc[trips['passenger_count'] != 1]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
3,2,2018-01-01 00:00:03,2018-01-01 00:03:52,3,0.99,1,N,236,43,2,5.5,0.5,0.5,0.0,0.0,0.3,6.8
11,1,2018-01-01 00:00:15,2018-01-01 00:08:21,2,1.20,1,N,232,107,2,7.0,0.5,0.5,0.0,0.0,0.3,8.3
15,1,2018-01-01 00:00:18,2018-01-01 00:29:50,4,13.20,1,N,138,72,2,39.0,0.5,0.5,0.0,0.0,0.3,40.3
17,1,2018-01-01 00:00:20,2018-01-01 00:06:23,2,1.10,1,N,164,162,3,6.5,0.5,0.5,0.0,0.0,0.3,7.8
28,1,2018-01-01 00:00:27,2018-01-01 00:04:11,4,0.30,1,N,233,161,2,4.5,0.5,0.5,0.0,0.0,0.3,5.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19988,2,2018-01-01 01:10:51,2018-01-01 01:19:56,2,1.02,1,N,237,163,1,7.5,0.5,0.5,3.3,0.0,0.3,12.1
19992,1,2018-01-01 01:10:53,2018-01-01 01:29:19,3,3.70,1,N,50,231,2,15.0,0.5,0.5,0.0,0.0,0.3,16.3
19994,2,2018-01-01 01:10:53,2018-01-01 01:18:56,2,1.20,1,N,166,238,1,7.5,0.5,0.5,2.2,0.0,0.3,11.0
19996,1,2018-01-01 01:10:53,2018-01-01 01:34:04,4,1.90,1,N,246,249,1,15.0,0.5,0.5,0.0,0.0,0.3,16.3
19999,1,2018-01-01 01:10:54,2018-01-01 01:38:01,2,5.40,1,N,249,236,2,21.0,0.5,0.5,0.0,0.0,0.3,22.3

## Checking / Changing Column Types
- Especially pd.to_datetime() for the date data
- I (Jeff) used this in a talk a while ago and will use it on Saturday morning again to talk about optimization. I don’t think we really need to go into all these options in this lesson. It might be good to flag that there are many ways to do the same thing, such as making a column an integer, though, and that in most cases they’re all equally good choices. (look at Lesson_content_outline in Google Docs for image)

## Summarizing

## Replacing

## Make New Columns (vector ops)

## Applying Functions to Columns

## Renaming Things

## groupby and unstack

## Resample and timedelta