# Data Manipulation in Python
## INFORMS 2020 Python Workshop
### Amy Newman

## Import Packages

In [235]:
import pandas as pd
import numpy as np
import json

## Loading / Saving JSON 
- JSON (Javascript Object Notation)
    - it's a standardized format to pass data around; it's easy for machines and humans to use
    - it's a form of text data written in Javascript notation and can be sent to and from a server
    - Twitter and Facebook are examples where you would retrieve data in JSON format
- JSON Viewer: can give a better picture of the structure of your data. Copy and paste the JSON into it. 
    - https://codebeautify.org/jsonviewer or https://jsonformatter.org/json-pretty-print

In [444]:
#--JSON: kind of looks like a dictionary, huh?
json1 = { "firstName": "Alan", "lastName": "Doe", "hobbies": ["running", "climbing", "dancing"], 
        "age": 35, "children": [ { "firstName": "Sam", "age": 6 }, { "firstName": "Jamie", "age": 8 } ] }



#--If you put json1 in the JSON Code Beautifier, it will give a structure that looks like json2--
json2 = {
    "firstName": "Alan",
    "lastName": "Doe",
    "hobbies": ["running", "climbing", "dancing"],
    "age": 35,
    "children": [
        {
            "firstName": "Sam",
            "age": 6
        },
        {
            "firstName": "Jamie",
            "age": 8
        }
    ]
}

In [447]:
#--Accessing data within the json file is a little like accessing data in a Python dictionary--
json1['firstName']

'Alan'

In [448]:
#--Notice that to get to 'Sam', we have to go through a dictionary, a list, and then a dictionary--
json1['children'][0]['firstName']

'Sam'

In [446]:
#--Using json.dumps() to convert a Python object and create a string--
pdict = {'team': 'Brazil', 'position': 1, 'host': True, 'lastGame': 'Win'}
dictToJson = json.dumps(pdict)
print(type(dictToJson))
print(dictToJson)

<class 'str'>
{"team": "Brazil", "position": 1, "host": true, "lastGame": "Win"}

#### Loading JSON Files
- json.loads() takes a file-like object, reads the data from that object, and uses that string to create a json object
- json.dumps() takes an json object and produces a string

In [377]:
#--Loading JSON Tweet data: Full data set--WORKS--
with open('data/tweets_from_nyc_taxis.json', 'r') as f:
    tweets = f.readlines()

In [378]:
len(tweets)

13269

In [ ]:
filename = 'data/mini_tweets_nyc_taxi.json'

In [438]:
with open(filename, 'r') as f:
    read_tweet = f.read()

str

In [411]:
#--Puts your Twitter data into a dataframe--WORKS
df = pd.read_json(filename, orient = 'records', lines = True)

In [408]:
with open(filename, "r") as read_file:
    data = json.load(read_file)

AttributeError: 'dict' object has no attribute 'load'

In [409]:
filename = 'data/mini_tweets_nyc_taxi.json' #--WORKS--
with open(filename, 'r') as f:
    tweets = f.readlines()

In [434]:
type(tweets)

list

In [432]:
jsonTodict = json.loads(tweets[0]).items()

AttributeError: 'dict' object has no attribute 'loads'

In [427]:
tweet_lst = []

with open(filename, 'r') as f:
    for line in f.readlines():
        print(type(line))
#         tweet_lst.append(line)

<class 'str'>
<class 'str'>
<class 'str'>

AttributeError: 'dict' object has no attribute 'loads'

In [410]:
tweets

['{"created_at": "Tue May 01 14:18:26 +0000 2018", "id": 991320947700523009, "id_str": "991320947700523009", "text": "@NeilECollins @nyc311 Thank you for reading, Mr. Collins.  Having a TLC driver license is a privilege.  Taxi passen\\u2026 https://t.co/78C3glo1yl", "truncated": true, "entities": {"hashtags": [], "symbols": [], "user_mentions": [{"screen_name": "NeilECollins", "name": "Neil Collins", "id": 2813412205, "id_str": "2813412205", "indices": [0, 13]}, {"screen_name": "nyc311", "name": "New York City 311", "id": 37683414, "id_str": "37683414", "indices": [14, 21]}], "urls": [{"url": "https://t.co/78C3glo1yl", "expanded_url": "https://twitter.com/i/web/status/991320947700523009", "display_url": "twitter.com/i/web/status/9\\u2026", "indices": [117, 140]}]}, "source": "<a href=\\"http://twitter.com\\" rel=\\"nofollow\\">Twitter Web Client</a>", "in_reply_to_status_id": 991311021905207298, "in_reply_to_status_id_str": "991311021905207298", "in_reply_to_user_id": 2813412205, "in_reply_to_user_id_str": "2813412205", "in_reply_to_screen_name": "NeilECollins", "user": {"id": 94163495, "id_str": "94163495", "name": "NYC TLC", "screen_name": "nyctaxi", "location": "New York, NY", "description": "The TLC is the City agency that regulates app-based and traditional black & livery cars, yellow & green taxicabs,  ambulettes, commuter vans & some limousines.", "url": "https://t.co/vb35n2OpJo", "entities": {"url": {"urls": [{"url": "https://t.co/vb35n2OpJo", "expanded_url": "http://nyc.gov/tlc", "display_url": "nyc.gov/tlc", "indices": [0, 23]}]}, "description": {"urls": []}}, "protected": false, "followers_count": 13544, "friends_count": 677, "listed_count": 366, "created_at": "Wed Dec 02 20:00:22 +0000 2009", "favourites_count": 1186, "utc_offset": -14400, "time_zone": "Eastern Time (US & Canada)", "geo_enabled": true, "verified": true, "statuses_count": 4260, "lang": "en", "contributors_enabled": false, "is_translator": false, "is_translation_enabled": false, "profile_background_color": "A8C75A", "profile_background_image_url": "http://abs.twimg.com/images/themes/theme1/bg.png", "profile_background_image_url_https": "https://abs.twimg.com/images/themes/theme1/bg.png", "profile_background_tile": false, "profile_image_url": "http://pbs.twimg.com/profile_images/646340365897854976/1ta6i3EL_normal.jpg", "profile_image_url_https": "https://pbs.twimg.com/profile_images/646340365897854976/1ta6i3EL_normal.jpg", "profile_banner_url": "https://pbs.twimg.com/profile_banners/94163495/1412198408", "profile_link_color": "F28043", "profile_sidebar_border_color": "FFFFFF", "profile_sidebar_fill_color": "DDEEF6", "profile_text_color": "333333", "profile_use_background_image": false, "has_extended_profile": false, "default_profile": false, "default_profile_image": false, "following": null, "follow_request_sent": null, "notifications": null, "translator_type": "none"}, "geo": null, "coordinates": null, "place": null, "contributors": null, "is_quote_status": false, "retweet_count": 0, "favorite_count": 0, "favorited": false, "retweeted": false, "lang": "en"}\n',
 '{"created_at": "Mon Apr 30 17:56:48 +0000 2018", "id": 991013512066584576, "id_str": "991013512066584576", "text": "TLC Commissioner Joshi and staff member Malcolm Cain were pleased to attend the cultural program that followed the\\u2026 https://t.co/AHZH05R8ts", "truncated": true, "entities": {"hashtags": [], "symbols": [], "user_mentions": [], "urls": [{"url": "https://t.co/AHZH05R8ts", "expanded_url": "https://twitter.com/i/web/status/991013512066584576", "display_url": "twitter.com/i/web/status/9\\u2026", "indices": [116, 139]}]}, "source": "<a href=\\"http://twitter.com\\" rel=\\"nofollow\\">Twitter Web Client</a>", "in_reply_to_status_id": null, "in_reply_to_status_id_str": null, "in_reply_to_user_id": null, "in_reply_to_user_id_str": null, "in_reply_to_screen_name": null, "user": {"id": 94163495, "id_str": "94163495", "name": "NYC TLC", "screen_name": "nyctaxi", "location": "New York, NY", "description": "The TLC is the City agency that regulates app-based and traditional black & livery cars, yellow & green taxicabs,  ambulettes, commuter vans & some limousines.", "url": "https://t.co/vb35n2OpJo", "entities": {"url": {"urls": [{"url": "https://t.co/vb35n2OpJo", "expanded_url": "http://nyc.gov/tlc", "display_url": "nyc.gov/tlc", "indices": [0, 23]}]}, "description": {"urls": []}}, "protected": false, "followers_count": 13544, "friends_count": 677, "listed_count": 366, "created_at": "Wed Dec 02 20:00:22 +0000 2009", "favourites_count": 1186, "utc_offset": -14400, "time_zone": "Eastern Time (US & Canada)", "geo_enabled": true, "verified": true, "statuses_count": 4260, "lang": "en", "contributors_enabled": false, "is_translator": false, "is_translation_enabled": false, "profile_background_color": "A8C75A", "profile_background_image_url": "http://abs.twimg.com/images/themes/theme1/bg.png", "profile_background_image_url_https": "https://abs.twimg.com/images/themes/theme1/bg.png", "profile_background_tile": false, "profile_image_url": "http://pbs.twimg.com/profile_images/646340365897854976/1ta6i3EL_normal.jpg", "profile_image_url_https": "https://pbs.twimg.com/profile_images/646340365897854976/1ta6i3EL_normal.jpg", "profile_banner_url": "https://pbs.twimg.com/profile_banners/94163495/1412198408", "profile_link_color": "F28043", "profile_sidebar_border_color": "FFFFFF", "profile_sidebar_fill_color": "DDEEF6", "profile_text_color": "333333", "profile_use_background_image": false, "has_extended_profile": false, "default_profile": false, "default_profile_image": false, "following": null, "follow_request_sent": null, "notifications": null, "translator_type": "none"}, "geo": null, "coordinates": null, "place": null, "contributors": null, "is_quote_status": false, "retweet_count": 0, "favorite_count": 1, "favorited": false, "retweeted": false, "possibly_sensitive": false, "lang": "en"}\n',
 '{"created_at": "Thu Apr 26 16:07:30 +0000 2018", "id": 989536454723428353, "id_str": "989536454723428353", "text": "RT @NYPD19Pct: \\u201cDah-ling I love you but give me Park Avenue.\\u201d \\ud83c\\udfb6 \\n\\nIt finally feels &amp; looks like #Spring here on the #UpperEastSide. \\ud83c\\udf37\\n\\nGet\\u2026", "truncated": false, "entities": {"hashtags": [{"text": "Spring", "indices": [100, 107]}, {"text": "UpperEastSide", "indices": [120, 134]}], "symbols": [], "user_mentions": [{"screen_name": "NYPD19Pct", "name": "NYPD 19th Precinct", "id": 2371009784, "id_str": "2371009784", "indices": [3, 13]}], "urls": []}, "source": "<a href=\\"http://twitter.com\\" rel=\\"nofollow\\">Twitter Web Client</a>", "in_reply_to_status_id": null, "in_reply_to_status_id_str": null, "in_reply_to_user_id": null, "in_reply_to_user_id_str": null, "in_reply_to_screen_name": null, "user": {"id": 94163495, "id_str": "94163495", "name": "NYC TLC", "screen_name": "nyctaxi", "location": "New York, NY", "description": "The TLC is the City agency that regulates app-based and traditional black & livery cars, yellow & green taxicabs,  ambulettes, commuter vans & some limousines.", "url": "https://t.co/vb35n2OpJo", "entities": {"url": {"urls": [{"url": "https://t.co/vb35n2OpJo", "expanded_url": "http://nyc.gov/tlc", "display_url": "nyc.gov/tlc", "indices": [0, 23]}]}, "description": {"urls": []}}, "protected": false, "followers_count": 13544, "friends_count": 677, "listed_count": 366, "created_at": "Wed Dec 02 20:00:22 +0000 2009", "favourites_count": 1186, "utc_offset": -14400, "time_zone": "Eastern Time (US & Canada)", "geo_enabled": true, "verified": true, "statuses_count": 4260, "lang": "en", "contributors_enabled": false, "is_translator": false, "is_translation_enabled": false, "profile_background_color": "A8C75A", "profile_background_image_url": "http://abs.twimg.com/images/themes/theme1/bg.png", "profile_background_image_url_https": "https://abs.twimg.com/images/themes/theme1/bg.png", "profile_background_tile": false, "profile_image_url": "http://pbs.twimg.com/profile_images/646340365897854976/1ta6i3EL_normal.jpg", "profile_image_url_https": "https://pbs.twimg.com/profile_images/646340365897854976/1ta6i3EL_normal.jpg", "profile_banner_url": "https://pbs.twimg.com/profile_banners/94163495/1412198408", "profile_link_color": "F28043", "profile_sidebar_border_color": "FFFFFF", "profile_sidebar_fill_color": "DDEEF6", "profile_text_color": "333333", "profile_use_background_image": false, "has_extended_profile": false, "default_profile": false, "default_profile_image": false, "following": null, "follow_request_sent": null, "notifications": null, "translator_type": "none"}, "geo": null, "coordinates": null, "place": null, "contributors": null, "retweeted_status": {"created_at": "Thu Apr 26 15:38:47 +0000 2018", "id": 989529227291709440, "id_str": "989529227291709440", "text": "\\u201cDah-ling I love you but give me Park Avenue.\\u201d \\ud83c\\udfb6 \\n\\nIt finally feels &amp; looks like #Spring here on the #UpperEastSide\\u2026 https://t.co/BgJZIKP1Rj", "truncated": true, "entities": {"hashtags": [{"text": "Spring", "indices": [85, 92]}, {"text": "UpperEastSide", "indices": [105, 119]}], "symbols": [], "user_mentions": [], "urls": [{"url": "https://t.co/BgJZIKP1Rj", "expanded_url": "https://twitter.com/i/web/status/989529227291709440", "display_url": "twitter.com/i/web/status/9\\u2026", "indices": [121, 144]}]}, "source": "<a href=\\"http://twitter.com/download/iphone\\" rel=\\"nofollow\\">Twitter for iPhone</a>", "in_reply_to_status_id": null, "in_reply_to_status_id_str": null, "in_reply_to_user_id": null, "in_reply_to_user_id_str": null, "in_reply_to_screen_name": null, "user": {"id": 2371009784, "id_str": "2371009784", "name": "NYPD 19th Precinct", "screen_name": "NYPD19Pct", "location": "153 East 67th Street, New York", "description": "Deputy Inspector Kathleen Walsh, Commanding Officer. The official Twitter of the 19th Precinct #UpperEastSide #UES User policy: https://t.co/zsNvfzmw5C", "url": "https://t.co/QdHXe9dHqC", "entities": {"url": {"urls": [{"url": "https://t.co/QdHXe9dHqC", "expanded_url": "http://www1.nyc.gov/site/nypd/bureaus/patrol/precincts/19th-precinct.page", "display_url": "www1.nyc.gov/site/nypd/bure\\u2026", "indices": [0, 23]}]}, "description": {"urls": [{"url": "https://t.co/zsNvfzmw5C", "expanded_url": "http://on.nyc.gov/2FDGya2", "display_url": "on.nyc.gov/2FDGya2", "indices": [128, 151]}]}}, "protected": false, "followers_count": 9028, "friends_count": 1441, "listed_count": 150, "created_at": "Mon Mar 03 22:19:08 +0000 2014", "favourites_count": 30280, "utc_offset": null, "time_zone": null, "geo_enabled": true, "verified": true, "statuses_count": 4947, "lang": "en", "contributors_enabled": false, "is_translator": false, "is_translation_enabled": false, "profile_background_color": "005CB9", "profile_background_image_url": "http://abs.twimg.com/images/themes/theme1/bg.png", "profile_background_image_url_https": "https://abs.twimg.com/images/themes/theme1/bg.png", "profile_background_tile": false, "profile_image_url": "http://pbs.twimg.com/profile_images/954049681214070785/MYnCXt5f_normal.jpg", "profile_image_url_https": "https://pbs.twimg.com/profile_images/954049681214070785/MYnCXt5f_normal.jpg", "profile_banner_url": "https://pbs.twimg.com/profile_banners/2371009784/1444860195", "profile_link_color": "005CB9", "profile_sidebar_border_color": "FFFFFF", "profile_sidebar_fill_color": "DDEEF6", "profile_text_color": "333333", "profile_use_background_image": false, "has_extended_profile": false, "default_profile": false, "default_profile_image": false, "following": null, "follow_request_sent": null, "notifications": null, "translator_type": "none"}, "geo": null, "coordinates": null, "place": {"id": "07d9f5ef0b888000", "url": "https://api.twitter.com/1.1/geo/id/07d9f5ef0b888000.json", "place_type": "poi", "name": "Park Avenue Malls", "full_name": "Park Avenue Malls", "country_code": "US", "country": "United States", "contained_within": [], "bounding_box": {"type": "Polygon", "coordinates": [[[-73.95236492156982, 40.78694287968013], [-73.95236492156982, 40.78694287968013], [-73.95236492156982, 40.78694287968013], [-73.95236492156982, 40.78694287968013]]]}, "attributes": {}}, "contributors": null, "is_quote_status": false, "retweet_count": 10, "favorite_count": 45, "favorited": false, "retweeted": false, "possibly_sensitive": false, "lang": "en"}, "is_quote_status": false, "retweet_count": 10, "favorite_count": 0, "favorited": false, "retweeted": false, "lang": "en"}\n']

In [464]:
# with open(filename) as tweet_data:
#     json_data = json.load(tweet_data.readlines())

In [465]:
# tweets[0].dumps()

In [387]:
#--Loading JSON Tweet data: mini data set--
filename = 'data/mini_tweets_nyc_taxi.json'
f = open(filename, 'r', encoding = 'UTF-8', errors = "replace")

tweet_lst = []

for line in f.readlines():
#     print(line)
    tweet_lst.append(line)
#     lst = line.split('\n')

In [127]:
tw_lst = []
for elem in tweets:
    tw_lst.append(elem)

In [131]:
tw_lst[0]

'{"created_at": "Tue May 01 14:18:26 +0000 2018", "id": 991320947700523009, "id_str": "991320947700523009", "text": "@NeilECollins @nyc311 Thank you for reading, Mr. Collins.  Having a TLC driver license is a privilege.  Taxi passen\\u2026 https://t.co/78C3glo1yl", "truncated": true, "entities": {"hashtags": [], "symbols": [], "user_mentions": [{"screen_name": "NeilECollins", "name": "Neil Collins", "id": 2813412205, "id_str": "2813412205", "indices": [0, 13]}, {"screen_name": "nyc311", "name": "New York City 311", "id": 37683414, "id_str": "37683414", "indices": [14, 21]}], "urls": [{"url": "https://t.co/78C3glo1yl", "expanded_url": "https://twitter.com/i/web/status/991320947700523009", "display_url": "twitter.com/i/web/status/9\\u2026", "indices": [117, 140]}]}, "source": "<a href=\\"http://twitter.com\\" rel=\\"nofollow\\">Twitter Web Client</a>", "in_reply_to_status_id": 991311021905207298, "in_reply_to_status_id_str": "991311021905207298", "in_reply_to_user_id": 2813412205, "in_reply_to_user_id_str": "2813412205", "in_reply_to_screen_name": "NeilECollins", "user": {"id": 94163495, "id_str": "94163495", "name": "NYC TLC", "screen_name": "nyctaxi", "location": "New York, NY", "description": "The TLC is the City agency that regulates app-based and traditional black & livery cars, yellow & green taxicabs,  ambulettes, commuter vans & some limousines.", "url": "https://t.co/vb35n2OpJo", "entities": {"url": {"urls": [{"url": "https://t.co/vb35n2OpJo", "expanded_url": "http://nyc.gov/tlc", "display_url": "nyc.gov/tlc", "indices": [0, 23]}]}, "description": {"urls": []}}, "protected": false, "followers_count": 13544, "friends_count": 677, "listed_count": 366, "created_at": "Wed Dec 02 20:00:22 +0000 2009", "favourites_count": 1186, "utc_offset": -14400, "time_zone": "Eastern Time (US & Canada)", "geo_enabled": true, "verified": true, "statuses_count": 4260, "lang": "en", "contributors_enabled": false, "is_translator": false, "is_translation_enabled": false, "profile_background_color": "A8C75A", "profile_background_image_url": "http://abs.twimg.com/images/themes/theme1/bg.png", "profile_background_image_url_https": "https://abs.twimg.com/images/themes/theme1/bg.png", "profile_background_tile": false, "profile_image_url": "http://pbs.twimg.com/profile_images/646340365897854976/1ta6i3EL_normal.jpg", "profile_image_url_https": "https://pbs.twimg.com/profile_images/646340365897854976/1ta6i3EL_normal.jpg", "profile_banner_url": "https://pbs.twimg.com/profile_banners/94163495/1412198408", "profile_link_color": "F28043", "profile_sidebar_border_color": "FFFFFF", "profile_sidebar_fill_color": "DDEEF6", "profile_text_color": "333333", "profile_use_background_image": false, "has_extended_profile": false, "default_profile": false, "default_profile_image": false, "following": null, "follow_request_sent": null, "notifications": null, "translator_type": "none"}, "geo": null, "coordinates": null, "place": null, "contributors": null, "is_quote_status": false, "retweet_count": 0, "favorite_count": 0, "favorited": false, "retweeted": false, "lang": "en"}\n'

In [125]:
tweets[0]

'{"created_at": "Tue May 01 14:18:26 +0000 2018", "id": 991320947700523009, "id_str": "991320947700523009", "text": "@NeilECollins @nyc311 Thank you for reading, Mr. Collins.  Having a TLC driver license is a privilege.  Taxi passen\\u2026 https://t.co/78C3glo1yl", "truncated": true, "entities": {"hashtags": [], "symbols": [], "user_mentions": [{"screen_name": "NeilECollins", "name": "Neil Collins", "id": 2813412205, "id_str": "2813412205", "indices": [0, 13]}, {"screen_name": "nyc311", "name": "New York City 311", "id": 37683414, "id_str": "37683414", "indices": [14, 21]}], "urls": [{"url": "https://t.co/78C3glo1yl", "expanded_url": "https://twitter.com/i/web/status/991320947700523009", "display_url": "twitter.com/i/web/status/9\\u2026", "indices": [117, 140]}]}, "source": "<a href=\\"http://twitter.com\\" rel=\\"nofollow\\">Twitter Web Client</a>", "in_reply_to_status_id": 991311021905207298, "in_reply_to_status_id_str": "991311021905207298", "in_reply_to_user_id": 2813412205, "in_reply_to_user_id_str": "2813412205", "in_reply_to_screen_name": "NeilECollins", "user": {"id": 94163495, "id_str": "94163495", "name": "NYC TLC", "screen_name": "nyctaxi", "location": "New York, NY", "description": "The TLC is the City agency that regulates app-based and traditional black & livery cars, yellow & green taxicabs,  ambulettes, commuter vans & some limousines.", "url": "https://t.co/vb35n2OpJo", "entities": {"url": {"urls": [{"url": "https://t.co/vb35n2OpJo", "expanded_url": "http://nyc.gov/tlc", "display_url": "nyc.gov/tlc", "indices": [0, 23]}]}, "description": {"urls": []}}, "protected": false, "followers_count": 13544, "friends_count": 677, "listed_count": 366, "created_at": "Wed Dec 02 20:00:22 +0000 2009", "favourites_count": 1186, "utc_offset": -14400, "time_zone": "Eastern Time (US & Canada)", "geo_enabled": true, "verified": true, "statuses_count": 4260, "lang": "en", "contributors_enabled": false, "is_translator": false, "is_translation_enabled": false, "profile_background_color": "A8C75A", "profile_background_image_url": "http://abs.twimg.com/images/themes/theme1/bg.png", "profile_background_image_url_https": "https://abs.twimg.com/images/themes/theme1/bg.png", "profile_background_tile": false, "profile_image_url": "http://pbs.twimg.com/profile_images/646340365897854976/1ta6i3EL_normal.jpg", "profile_image_url_https": "https://pbs.twimg.com/profile_images/646340365897854976/1ta6i3EL_normal.jpg", "profile_banner_url": "https://pbs.twimg.com/profile_banners/94163495/1412198408", "profile_link_color": "F28043", "profile_sidebar_border_color": "FFFFFF", "profile_sidebar_fill_color": "DDEEF6", "profile_text_color": "333333", "profile_use_background_image": false, "has_extended_profile": false, "default_profile": false, "default_profile_image": false, "following": null, "follow_request_sent": null, "notifications": null, "translator_type": "none"}, "geo": null, "coordinates": null, "place": null, "contributors": null, "is_quote_status": false, "retweet_count": 0, "favorite_count": 0, "favorited": false, "retweeted": false, "lang": "en"}\n'

In [71]:
#--Pretty print the first tweet to get a sense of the data--
parsed = json.loads(tweets[0])
print(json.dumps(parsed, indent=4, sort_keys=True))

{
    "contributors": null,
    "coordinates": null,
    "created_at": "Tue May 01 14:18:26 +0000 2018",
    "entities": {
        "hashtags": [],
        "symbols": [],
        "urls": [
            {
                "display_url": "twitter.com/i/web/status/9\u2026",
                "expanded_url": "https://twitter.com/i/web/status/991320947700523009",
                "indices": [
                    117,
                    140
                ],
                "url": "https://t.co/78C3glo1yl"
            }
        ],
        "user_mentions": [
            {
                "id": 2813412205,
                "id_str": "2813412205",
                "indices": [
                    0,
                    13
                ],
                "name": "Neil Collins",
                "screen_name": "NeilECollins"
            },
            {
                "id": 37683414,
                "id_str": "37683414",
                "indices": [
                    14,
                    21
                ],
                "name": "New York City 311",
                "screen_name": "nyc311"
            }
        ]
    },
    "favorite_count": 0,
    "favorited": false,
    "geo": null,
    "id": 991320947700523009,
    "id_str": "991320947700523009",
    "in_reply_to_screen_name": "NeilECollins",
    "in_reply_to_status_id": 991311021905207298,
    "in_reply_to_status_id_str": "991311021905207298",
    "in_reply_to_user_id": 2813412205,
    "in_reply_to_user_id_str": "2813412205",
    "is_quote_status": false,
    "lang": "en",
    "place": null,
    "retweet_count": 0,
    "retweeted": false,
    "source": "<a href=\"http://twitter.com\" rel=\"nofollow\">Twitter Web Client</a>",
    "text": "@NeilECollins @nyc311 Thank you for reading, Mr. Collins.  Having a TLC driver license is a privilege.  Taxi passen\u2026 https://t.co/78C3glo1yl",
    "truncated": true,
    "user": {
        "contributors_enabled": false,
        "created_at": "Wed Dec 02 20:00:22 +0000 2009",
        "default_profile": false,
        "default_profile_image": false,
        "description": "The TLC is the City agency that regulates app-based and traditional black & livery cars, yellow & green taxicabs,  ambulettes, commuter vans & some limousines.",
        "entities": {
            "description": {
                "urls": []
            },
            "url": {
                "urls": [
                    {
                        "display_url": "nyc.gov/tlc",
                        "expanded_url": "http://nyc.gov/tlc",
                        "indices": [
                            0,
                            23
                        ],
                        "url": "https://t.co/vb35n2OpJo"
                    }
                ]
            }
        },
        "favourites_count": 1186,
        "follow_request_sent": null,
        "followers_count": 13544,
        "following": null,
        "friends_count": 677,
        "geo_enabled": true,
        "has_extended_profile": false,
        "id": 94163495,
        "id_str": "94163495",
        "is_translation_enabled": false,
        "is_translator": false,
        "lang": "en",
        "listed_count": 366,
        "location": "New York, NY",
        "name": "NYC TLC",
        "notifications": null,
        "profile_background_color": "A8C75A",
        "profile_background_image_url": "http://abs.twimg.com/images/themes/theme1/bg.png",
        "profile_background_image_url_https": "https://abs.twimg.com/images/themes/theme1/bg.png",
        "profile_background_tile": false,
        "profile_banner_url": "https://pbs.twimg.com/profile_banners/94163495/1412198408",
        "profile_image_url": "http://pbs.twimg.com/profile_images/646340365897854976/1ta6i3EL_normal.jpg",
        "profile_image_url_https": "https://pbs.twimg.com/profile_images/646340365897854976/1ta6i3EL_normal.jpg",
        "profile_link_color": "F28043",
        "profile_sidebar_border_color": "FFFFFF",
        "profile_sidebar_fill_color": "DDEEF6",
        "profile_text_color": "333333",
        "profile_use_background_image": false,
        "protected": false,
        "screen_name": "nyctaxi",
        "statuses_count": 4260,
        "time_zone": "Eastern Time (US & Canada)",
        "translator_type": "none",
        "url": "https://t.co/vb35n2OpJo",
        "utc_offset": -14400,
        "verified": true
    }
}

In [74]:
your_json = '["foo", {"bar":["baz", null, 1.0, 2]}]'
parsed = json.loads(your_json)
print(json.dumps(parsed, indent=4, sort_keys=True))

[
    "foo",
    {
        "bar": [
            "baz",
            null,
            1.0,
            2
        ]
    }
]

In [98]:
#--Loading and saving the JSON data--
with open('data/tweets_from_nyc_taxis.json', 'r', encoding='utf-8') as f:
    data = f.read()

In [99]:
type(data)

str

In [100]:
#--Loading and saving the JSON data--
with open('data/tweets_from_nyc_taxis.json', 'r') as f:
    data = f.readlines()

In [102]:
type(data)

list

In [117]:
#--Loading JSON Twitter data--
taxi_tweets = 'data/tweets_from_nyc_taxis.json'

with open(taxi_tweets) as f:
    data = json.loads(f.read())

JSONDecodeError: Extra data: line 2 column 1 (char 3082)

In [109]:
#--Saving JSON data to a file--
file_name = "data/data_file.json" 

with open(file_name, "w") as write_file:
    json.dump(data, write_file)

## Loading / Saving pandas

In [456]:
#--Loading a .csv file to pandas--
zones = pd.read_csv('data/taxi_zones_simple.csv')

#--Loading a .tsv.gz to pandas--
trips = pd.read_csv('data/clean_taxi_sample.tsv.gz', sep='\t')

In [466]:
#--taking a look at the first 5 rows to see if it loaded ok--
zones.head()

In [467]:
zones.shape

In [ ]:
# trips.head()

In [ ]:
# trips.shape()

In [462]:
#--Saving the zones dataframe to a .csv file--
zones.to_csv("data/zones_output.csv")
# zones.to_csv("data/zones_output.csv", index=False) #--to get rid of the index use this

#--Saving the zones dataframe to a .xls file--
zones.to_excel("data/zones_output.xls")

### *Exercise: Loading/Saving pandas

In [531]:
#--1. Load 'data/daily_taxi_counts_2018.tsv' using pandas. Assign the loaded data to the variable counts. 

counts = pd.read_csv('data/daily_taxi_counts_2018.tsv', sep='\t')

In [357]:
#--2. View your counts data and take a look at the shape--
# print(counts.shape())
# counts.head()

In [ ]:
#--3. Save the dataframe to a file named 'counts_output.csv'
# counts.to_csv("data/counts_output.csv")

## Viewing / Selecting pandas
- .head()
    - allows you to view the first 5 rows in your data, including column names
- .sample(5)
    - this will give a random sample of 5 rows from the data (you can change from 5 to another number for more or less samples)
- .shape
    - allows you to see the number of rows and columns within your dataframe
- .loc[ ]
    - gets rows (or columns) with specific labels from the index
- .iloc[ ]
    - gets rows (or columns) at specific positions in the index (so it only takes integers)

In [468]:
#--Viewing the first 5 rows of your data--
trips.head()

#--Viewing the first 7 rows of your data: you can change from 7 to whatever number you need--
# trips.head(7)

In [ ]:
#--Gets a sample of rows from your dataframe. You can change the number to whatever you need here--
trips.sample(5)

In [476]:
#--Getting some basic information about the size and shape of the DataFrame:
print("The number of rows of the dataset is: ", len(trips))
print("The number of columns of the dataset is: ", len(trips.columns))
print("The shape of the dataset is: ", trips.shape)

In [475]:
#--Seeing all of your dataframe columns in list format--
trips.columns

In [469]:
trips['passenger_count'] #--extracting one column in Series format

#--This will give the same result as trips['passenger_count'] but uses dot notation:
# trips.passenger_count

In [373]:
#--Column Extraction: double square brackets b/c the column names are the list
dist_cost = trips[['PULocationID','trip_distance', 'total_amount']]

In [470]:
#--Choosing rows based on a condition in a column--
id2 = trips.loc[trips['VendorID'] == 2]
id2.head()

In [474]:
#--Choosing rows by Combining multiple conditions--
trips.loc[(trips['trip_distance'] >= 5) & (trips['trip_distance'] <= 10)] #--want all trips beteween 5 and 10 miles

In [472]:
#--Choosing rows by excluding a condition--
trips.loc[trips['passenger_count'] != 1]

In [473]:
#--Choosing data by column--
trips.iloc[:,:4] #--This chooses all of the rows in the dataframe from column 0 to 3

In [ ]:
#--Selecting certain columns from the entire dataframe by name, making a new dataframe--
trip_sub = trips[['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'total_amount']]

### *Exercise: Viewing/Selecting pandas

In [ ]:
#--1. View the data in the zones dataframe--

In [486]:
#--2. How many columns does the zones dataframe have?--
# len(zones.columns)

In [485]:
#--3. Create a subset of the zones dataframe called queens, where all of the data only comes from the borough queens--
# queens = zones.loc[zones['borough']=='Queens']
# queens

In [484]:
#--4. Find all of the data in the trips dataframe where the fare_amount is between 100 and 200--
# trips.loc[(trips['fare_amount'] >= 100) & (trips['fare_amount'] <= 200)]

## Checking / Changing Column Types
- Viewing column data
- Column data can be converted to different types including, but not limited to: str, float, and int
- Converting date data with dates and times to more usable formats

In [512]:
#--Converting column to int or float--
trips.head()

In [502]:
#--Check all the data types of the trips dataframe--
trips.dtypes

In [541]:
#--all the unique values in the payment_type column of the trips dataframe--
trips.payment_type.unique()

In [496]:
#--Converting all of the values in the payment_type column from int to float--
trips.payment_type = trips.payment_type.astype(float) #--This is one way to do it, there are options as well
trips.dtypes

In [530]:
#--Convert date column to datetime to make data more accessible--
counts['date'] = pd.to_datetime(counts.date)

In [534]:
#--Create new columns from datetime data, one with month data and one with day of week data--
counts['month'] = pd.DatetimeIndex(counts['date']).month
counts['day_of_week'] = pd.DatetimeIndex(counts['date']).dayofweek #--Sunday thru Saturday in numerical form
counts.head()

### *Exercise: Checking/Changing Column Types

In [ ]:
#--1. Convert the payment_type column from trips from float back to int--
# trips.payment_type = trips.payment_type.astype(int)
# trips.dtypes

In [554]:
#--2. Create a column called 'day' in trips, where its values are the day number of the month--
# counts['day'] = pd.DatetimeIndex(counts['date']).day
counts.head()

         date  n_trips  month  day_of_week  day
0  2018-03-01   332802      3            3    1
1  2018-03-02   326944      3            4    2
2  2018-03-03   316823      3            5    3
3  2018-03-04   286326      3            6    4
4  2018-03-05   290631      3            0    5

## Summarizing
- descriptive statistics
    - df.describe()
    - df['column_name'].max()
    - df['column_name'].sum()
    - and more
- Any interesting findings in the trips dataframe?

In [153]:
#-- df.describe() returns statistical details like percentile, mean, std etc. of a data frame or a series of numeric values--
trips.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,1.565000,1.735400,2.749124,1.031000,158.827750,159.074550,1.409450,12.58336,0.493790,0.496975,1.621925,0.105998,0.299460,15.611760
std,0.495769,1.277289,2.961542,0.326411,71.059017,74.392553,0.518859,9.87974,0.060857,0.043052,2.437912,0.895354,0.017226,11.354625
min,1.000000,0.000000,0.000000,1.000000,3.000000,1.000000,1.000000,-52.00000,-0.500000,-0.500000,0.000000,0.000000,-0.300000,-52.800000
25%,1.000000,1.000000,1.000000,1.000000,107.000000,95.000000,1.000000,6.50000,0.500000,0.500000,0.000000,0.000000,0.300000,8.760000
50%,2.000000,1.000000,1.800000,1.000000,158.000000,161.000000,1.000000,10.00000,0.500000,0.500000,1.060000,0.000000,0.300000,12.360000
75%,2.000000,2.000000,3.400000,1.000000,234.000000,234.000000,2.000000,15.50000,0.500000,0.500000,2.450000,0.000000,0.300000,18.960000
max,2.000000,6.000000,37.820000,6.000000,265.000000,265.000000,4.000000,250.00000,1.000000,0.500000,80.000000,26.020000,0.300000,250.800000

### *Exercise: Summarizing

In [555]:
#--1. Find the maximum number of trips in the counts dataframe?--
counts.describe()

             n_trips       month  day_of_week         day
count     365.000000  365.000000   365.000000  365.000000
mean   281636.715068    6.526027     2.991781   15.720548
std     37644.054420    3.452584     2.006155    8.808321
min    122222.000000    1.000000     0.000000    1.000000
25%    261619.000000    4.000000     1.000000    8.000000
50%    286326.000000    7.000000     3.000000   16.000000
75%    308094.000000   10.000000     5.000000   23.000000
max    349840.000000   12.000000     6.000000   31.000000

In [558]:
#--2. What's the total number of trips in March in the counts dataframe?--
counts.loc[counts['month'] == 3].sum()

date           2018-03-012018-03-022018-03-032018-03-042018-0...
n_trips                                                  9429041
month                                                         93
day_of_week                                                   96
day                                                          496
dtype: object

## Replacing

In [187]:
zones.head()

   locationid                     zone        borough
0           1           Newark Airport            EWR
1           2              Jamaica Bay         Queens
2           3  Allerton/Pelham Gardens          Bronx
3           4            Alphabet City      Manhattan
4           5            Arden Heights  Staten Island

In [259]:
# this will replace instanceas of "Newark Airport" with "Newark Liberty International Airport"
zones = zones.replace(to_replace =["Newark Airport"],  
                            value = "Newark Liberty International Airport")

In [261]:
zones.head()

   locationid                                  zone        borough
0           1  Newark Liberty International Airport            EWR
1           2                           Jamaica Bay         Queens
2           3               Allerton/Pelham Gardens          Bronx
3           4                         Alphabet City      Manhattan
4           5                         Arden Heights  Staten Island

In [ ]:
#--Replace nonetype with.....

In [ ]:
# # Making data frame from the csv file 
# df = pd.read_csv("nba.csv") 
  
# # will replace  Nan value in dataframe with value 0
# df.replace(to_replace = np.nan, value =0)

### *Exercise: Replacing

In [ ]:
#--1.

## Make New Columns (vector ops)

In [561]:
trips.shape

In [229]:
#--tip percentage per trip--
trips['tip_percent'] = trips['tip_amount']/trips['total_amount']

In [562]:
trips.shape

In [563]:
# trips.head(10)

In [ ]:
#--TODO: Add another example, then add an exercise here--

### *Exercise: Making New Columns with vector operations

In [ ]:
#--1.

## Applying Functions to Columns
- Applying a function directly to a column
    - Example: The tip_percent column we created above looks a bit messy, lets fix it with the round() function 
- Using .apply()
    - Allows you to apply a function along an axis in a dataframe

In [231]:
#-- Rounding values: this will change all of the values in the trips['tip_percent'] column --
trips['tip_percent'] = round(trips['tip_percent'], 4) #--change the value from a 4 to a 2 and see what happens--

In [233]:
trips.head(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,tip_percent
0,2,2018-01-01 00:00:00,2018-01-01 00:00:00,1,9.14,1,N,229,17,2,27.0,0.0,0.5,0.00,0.0,0.3,27.80,0.0000
1,2,2018-01-01 00:00:02,2018-01-01 00:08:48,1,1.36,1,N,68,249,2,7.5,0.5,0.5,0.00,0.0,0.3,8.80,0.0000
2,1,2018-01-01 00:00:03,2018-01-01 00:21:06,1,6.10,1,N,255,236,2,20.5,0.5,0.5,0.00,0.0,0.3,21.80,0.0000
3,2,2018-01-01 00:00:03,2018-01-01 00:03:52,3,0.99,1,N,236,43,2,5.5,0.5,0.5,0.00,0.0,0.3,6.80,0.0000
4,1,2018-01-01 00:00:04,2018-01-01 00:13:24,1,3.60,1,N,37,157,2,13.5,0.5,0.5,0.00,0.0,0.3,14.80,0.0000
5,2,2018-01-01 00:00:04,2018-01-01 00:08:13,1,1.59,1,N,141,161,2,8.0,0.5,0.5,0.00,0.0,0.3,9.30,0.0000
6,1,2018-01-01 00:00:06,2018-01-01 00:24:34,1,6.90,1,N,162,49,1,23.5,0.5,0.5,4.95,0.0,0.3,29.75,0.1664
7,1,2018-01-01 00:00:11,2018-01-01 00:06:05,1,1.70,1,N,238,143,1,7.0,0.5,0.5,1.65,0.0,0.3,9.95,0.1658
8,1,2018-01-01 00:00:13,2018-01-01 00:07:03,1,0.90,1,N,144,249,1,6.0,0.5,0.5,1.80,0.0,0.3,9.10,0.1978
9,1,2018-01-01 00:00:14,2018-01-01 00:11:38,1,4.00,1,N,170,232,2,14.0,0.5,0.5,0.00,0.0,0.3,15.30,0.0000

In [239]:
#--Using .apply() to find the sum of all taxi ride totals in this dataset--
trips[['total_amount']].apply(np.sum, axis=0)

total_amount    312235.2
dtype: float64

In [249]:
zones.head()

   locationid                     zone        borough
0           1           Newark Airport            EWR
1           2              Jamaica Bay         Queens
2           3  Allerton/Pelham Gardens          Bronx
3           4            Alphabet City      Manhattan
4           5            Arden Heights  Staten Island

In [250]:
#--Applying .lower() to columns in the zones df--
zones['zone'] = zones['zone'].str.lower()

In [251]:
zones.head()

   locationid                     zone        borough
0           1           newark airport            EWR
1           2              jamaica bay         Queens
2           3  allerton/pelham gardens          Bronx
3           4            alphabet city      Manhattan
4           5            arden heights  Staten Island

## Renaming Things
- The rename() method can be used to rename any index, column, or row

In [316]:
zones.columns

Index(['LOCATIONID', 'ZONE', 'BOROUGH'], dtype='object')

In [309]:
#--Renaming 1 column at a time--
zones.rename(columns={'zone': 'ZONE'}, inplace=True)

In [310]:
zones.columns

Index(['LOCATIONID', 'ZONE', 'BOROUGH'], dtype='object')

In [305]:
#--Renaming multiple columns at a time: 3 different approaches--

# zones.rename(columns={'locationid': 'LOCATIONID', 'borough': 'BOROUGH'}, inplace=True) #--Where inplace=True causes the name change to stay with the dataframe zones
# zones.rename({'locationid': 'LOCATIONID', 'borough': 'BOROUGH'},  axis='columns')
zones.rename({'locationid': 'LOCATIONID','borough': 'BOROUGH'}, inplace=True, axis= 1)

In [311]:
zones.columns

Index(['LOCATIONID', 'ZONE', 'BOROUGH'], dtype='object')

In [315]:
#--Renaming rows and index--

## groupby and unstack
- We use the groupby() function to split data into different groups based on some criteria
- ___FIX THIS: unstack() is a pandas reshaping function, that pivots a level of the index labels__

In [325]:
#--find dataset for groupby--

   LOCATIONID                     ZONE        BOROUGH
0           1           Newark Airport            EWR
1           2              Jamaica Bay         Queens
2           3  Allerton/Pelham Gardens          Bronx
3           4            Alphabet City      Manhattan
4           5            Arden Heights  Staten Island

In [375]:
by_borough = zones.groupby('BOROUGH')
by_borough.groups

{'Bronx': Int64Index([  2,  17,  19,  30,  31,  45,  46,  50,  57,  58,  59,  68,  77,
              80,  93, 118, 125, 135, 146, 158, 166, 167, 168, 173, 181, 182,
             183, 184, 198, 199, 207, 211, 212, 219, 234, 239, 240, 241, 246,
             247, 249, 253, 258],
            dtype='int64'),
 'Brooklyn': Int64Index([ 10,  13,  16,  20,  21,  24,  25,  28,  32,  33,  34,  35,  36,
              38,  39,  48,  51,  53,  54,  60,  61,  62,  64,  65,  66,  70,
              71,  75,  76,  79,  84,  88,  90,  96, 105, 107, 110, 111, 122,
             132, 148, 149, 153, 154, 164, 176, 177, 180, 187, 188, 189, 194,
             209, 216, 221, 224, 226, 227, 254, 255, 256],
            dtype='int64'),
 'EWR': Int64Index([0], dtype='int64'),
 'Manhattan': Int64Index([  3,  11,  12,  23,  40,  41,  42,  44,  47,  49,  67,  73,  74,
              78,  86,  87,  89,  99, 102, 103, 104, 106, 112, 113, 115, 119,
             124, 126, 127, 136, 139, 140, 141, 142, 143, 147, 150, 151, 152,
             157, 160, 161, 162, 163, 165, 169, 185, 193, 201, 208, 210, 223,
             228, 229, 230, 231, 232, 233, 235, 236, 237, 238, 242, 243, 245,
             248, 260, 261, 262],
            dtype='int64'),
 'Queens': Int64Index([  1,   6,   7,   8,   9,  14,  15,  18,  26,  27,  29,  37,  52,
              55,  56,  63,  69,  72,  81,  82,  85,  91,  92,  94,  95,  97,
             100, 101, 116, 120, 121, 123, 128, 129, 130, 131, 133, 134, 137,
             138, 144, 145, 156, 159, 170, 172, 174, 178, 179, 190, 191, 192,
             195, 196, 197, 200, 202, 204, 206, 214, 215, 217, 218, 222, 225,
             251, 252, 257, 259],
            dtype='int64'),
 'Staten Island': Int64Index([  4,   5,  22,  43,  83,  98, 108, 109, 114, 117, 155, 171, 175,
             186, 203, 205, 213, 220, 244, 250],
            dtype='int64')}

In [328]:
#--groupby() on boroughs--
zones.loc[zones.BOROUGH == 'Queens']

     LOCATIONID           ZONE BOROUGH
1             2    Jamaica Bay  Queens
6             7        Astoria  Queens
7             8   Astoria Park  Queens
8             9     Auburndale  Queens
9            10   Baisley Park  Queens
..          ...            ...     ...
225         226      Sunnyside  Queens
251         252     Whitestone  Queens
252         253  Willets Point  Queens
257         258      Woodhaven  Queens
259         260       Woodside  Queens

[69 rows x 3 columns]

## Resample and timedelta

In [321]:
#--timedelta: https://docs.python.org/3/library/datetime.html
from datetime import timedelta

In [319]:
hours = pd.read_csv('data/hourly_taxi_counts_2018.tsv', sep='\t')

In [320]:
hours.head()

                  date  n_trips
0  2018-03-01 00:00:00     7568
1  2018-03-01 01:00:00     4330
2  2018-03-01 02:00:00     2753
3  2018-03-01 03:00:00     1844
4  2018-03-01 04:00:00     1921

## Other useful functions
- .unique()
- .sort_values()

In [353]:
#--Find unique values in a certain column--
zones.BOROUGH.unique()

array(['EWR', 'Queens', 'Bronx', 'Manhattan', 'Staten Island', 'Brooklyn'],
      dtype=object)

In [346]:
len(zones.ZONE.unique())

260

In [545]:
# .drop_duplicates()

In [355]:
#--Sort your dataframe by total amount pad for taxi trip, from greatest to least--
sort_bytotal = trips.sort_values('total_amount', ascending=False)
sort_bytotal.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,tip_percent
17881,2,2018-01-01 01:04:29,2018-01-01 01:04:32,2,0.00,5,N,68,68,1,250.0,0.0,0.5,0.00,0.00,0.3,250.80,0.0000
12056,2,2018-01-01 00:46:06,2018-01-01 00:48:11,1,0.00,5,N,265,265,1,215.0,0.0,0.5,0.00,25.00,0.3,240.80,0.0000
4021,2,2018-01-01 00:20:02,2018-01-01 01:21:02,1,4.56,5,N,158,265,2,175.0,0.0,0.5,0.00,10.50,0.3,186.30,0.0000
14585,2,2018-01-01 00:54:08,2018-01-01 01:34:38,1,36.01,4,N,132,265,1,165.0,0.5,0.5,17.00,0.00,0.3,183.30,0.0927
19413,1,2018-01-01 01:09:04,2018-01-01 01:47:43,2,28.00,5,N,170,265,1,136.0,0.0,0.0,21.23,5.76,0.3,163.29,0.1300