# Data Manipulation in Python
## INFORMS 2020 Python Workshop
### Amy Newman

## Import Packages

In [235]:
import pandas as pd
import numpy as np
import json

## Saving / Loading JSON 
- JSON (Javascript Object Notation)
    - it's a standardized format to pass data around; it's easy for machines and humans to use
    - it's a form of text data written in Javascript notation and can be sent to and from a server
    - Twitter and Facebook are examples where you would retrieve data in JSON format
- JSON Viewer: can give a better picture of the structure of your data. Copy and paste the JSON into it. 
    - https://codebeautify.org/jsonviewer or https://jsonformatter.org/json-pretty-print
- json.dumps() takes an json object and produces a string. You can save this to a file.

In [444]:
#--JSON: kind of looks like a dictionary, huh?
json1 = { "firstName": "Alan", "lastName": "Doe", "hobbies": ["running", "climbing", "dancing"], 
        "age": 35, "children": [ { "firstName": "Sam", "age": 6 }, { "firstName": "Jamie", "age": 8 } ] }



#--If you put json1 in the JSON Code Beautifier, it will give a structure that looks like json2--
json2 = {
    "firstName": "Alan",
    "lastName": "Doe",
    "hobbies": ["running", "climbing", "dancing"],
    "age": 35,
    "children": [
        {
            "firstName": "Sam",
            "age": 6
        },
        {
            "firstName": "Jamie",
            "age": 8
        }
    ]
}

In [447]:
#--Accessing data within the json file is a little like accessing data in a Python dictionary--
json1['firstName']

'Alan'

In [448]:
#--Notice that to get to 'Sam', we have to go through a dictionary, a list, and then a dictionary--
json1['children'][0]['firstName']

'Sam'

In [446]:
#--Using json.dumps() to convert a Python object and create a string--
pdict = {'team': 'Brazil', 'position': 1, 'host': True, 'lastGame': 'Win'}
dictToJson = json.dumps(pdict)
print(type(dictToJson))
print(dictToJson)

<class 'str'>
{"team": "Brazil", "position": 1, "host": true, "lastGame": "Win"}

#### Saving JSON to a File

In [922]:
#--Save your json data from above to a file using json.dumps()--
with open("data/pdict.json", "w") as write_file:
    json.dump(pdict, write_file)

#### Loading JSON from a File
- json.loads() takes a file-like object, reads the data from that object, and uses that string to create a json object

In [911]:
filename = 'data/one_tweets_nyc_taxi.json'

In [912]:
with open(filename, 'r') as f:
    read_tweet = f.read()

In [913]:
tweet_data = json.loads(read_tweet) #--the loads() will convert your data from a string to dict
type(tweet_data)

dict

In [923]:
tweet_data

In [901]:
#--Puts your Twitter data into a dataframe: works with multiple tweets--
filename = 'data/three_tweets_nyc_taxi.json'
tweet_df = pd.read_json(filename, orient = 'records', lines = True)

In [924]:
tweet_df

### *Exercises: Loading/Saving JSON

In [915]:
#--1. Extract the 'text' from tweet_data--
tweet_data['text']

'@NeilECollins @nyc311 Thank you for reading, Mr. Collins.  Having a TLC driver license is a privilege.  Taxi passenâ€¦ https://t.co/78C3glo1yl'

In [918]:
#--2. Extract the 0th 'screen_name' from tweet_data--
tweet_data['entities']['user_mentions'][0]['screen_name']

'NeilECollins'

In [921]:
#--3. Create a file called tweet_data.json and save tweet_data to it--
with open("data/tweet_data.json", "w") as write_file:
    json.dump(tweet_data, write_file)

## Loading / Saving pandas

In [456]:
#--Loading a .csv file to pandas--
zones = pd.read_csv('data/taxi_zones_simple.csv')

#--Loading a .tsv.gz to pandas--
trips = pd.read_csv('data/clean_taxi_sample.tsv.gz', sep='\t')

In [466]:
#--taking a look at the first 5 rows to see if it loaded ok--
zones.head()

In [467]:
zones.shape

In [ ]:
# trips.head()

In [ ]:
# trips.shape()

In [462]:
#--Saving the zones dataframe to a .csv file--
zones.to_csv("data/zones_output.csv")
# zones.to_csv("data/zones_output.csv", index=False) #--to get rid of the index use this

#--Saving the zones dataframe to a .xls file--
zones.to_excel("data/zones_output.xls")

### *Exercise: Loading/Saving pandas

In [531]:
#--1. Load 'data/daily_taxi_counts_2018.tsv' using pandas. Assign the loaded data to the variable counts. 
counts = pd.read_csv('data/daily_taxi_counts_2018.tsv', sep='\t')

In [357]:
#--2. View your counts data and take a look at the shape--
# print(counts.shape())
# counts.head()

In [ ]:
#--3. Save the dataframe to a file named 'counts_output.csv'
# counts.to_csv("data/counts_output.csv")

## Viewing / Selecting pandas
- .head()
    - allows you to view the first 5 rows in your data, including column names
- .sample(5)
    - this will give a random sample of 5 rows from the data (you can change from 5 to another number for more or less samples)
- .shape
    - allows you to see the number of rows and columns within your dataframe
- .loc[ ]
    - gets rows (or columns) with specific labels from the index
- .iloc[ ]
    - gets rows (or columns) at specific positions in the index (so it only takes integers)

In [468]:
#--Viewing the first 5 rows of your data--
trips.head()

#--Viewing the first 7 rows of your data: you can change from 7 to whatever number you need--
# trips.head(7)

In [ ]:
#--Gets a sample of rows from your dataframe. You can change the number to whatever you need here--
trips.sample(5)

In [476]:
#--Getting some basic information about the size and shape of the DataFrame:
print("The number of rows of the dataset is: ", len(trips))
print("The number of columns of the dataset is: ", len(trips.columns))
print("The shape of the dataset is: ", trips.shape)

In [475]:
#--Seeing all of your dataframe columns in list format--
trips.columns

In [469]:
trips['passenger_count'] #--extracting one column in Series format

#--This will give the same result as trips['passenger_count'] but uses dot notation:
# trips.passenger_count

In [373]:
#--Column Extraction: double square brackets b/c the column names are the list
dist_cost = trips[['PULocationID','trip_distance', 'total_amount']]

In [470]:
#--Choosing rows based on a condition in a column--
id2 = trips.loc[trips['VendorID'] == 2]
id2.head()

In [474]:
#--Choosing rows by Combining multiple conditions--
trips.loc[(trips['trip_distance'] >= 5) & (trips['trip_distance'] <= 10)] #--want all trips beteween 5 and 10 miles

In [472]:
#--Choosing rows by excluding a condition--
trips.loc[trips['passenger_count'] != 1]

In [473]:
#--Choosing data by column--
trips.iloc[:,:4] #--This chooses all of the rows in the dataframe from column 0 to 3

In [ ]:
#--Selecting certain columns from the entire dataframe by name, making a new dataframe--
trip_sub = trips[['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'total_amount']]

### *Exercise: Viewing/Selecting pandas

In [ ]:
#--1. View the data in the zones dataframe--

In [486]:
#--2. How many columns does the zones dataframe have?--
# len(zones.columns)

In [485]:
#--3. Create a subset of the zones dataframe called queens, where all of the data only comes from the borough queens--
# queens = zones.loc[zones['borough']=='Queens']
# queens

In [484]:
#--4. Find all of the data in the trips dataframe where the fare_amount is between 100 and 200--
# trips.loc[(trips['fare_amount'] >= 100) & (trips['fare_amount'] <= 200)]

## Checking / Changing Column Types
- Viewing column data
- Column data can be converted to different types including, but not limited to: str, float, and int
- Converting date data with dates and times to more usable formats

In [512]:
#--Converting column to int or float--
trips.head()

In [502]:
#--Check all the data types of the trips dataframe--
trips.dtypes

In [541]:
#--all the unique values in the payment_type column of the trips dataframe--
trips.payment_type.unique()

In [496]:
#--Converting all of the values in the payment_type column from int to float--
trips.payment_type = trips.payment_type.astype(float) #--This is one way to do it, there are options as well
trips.dtypes

In [530]:
#--Convert date column to datetime to make data more accessible--
counts['date'] = pd.to_datetime(counts.date)

In [534]:
#--Create new columns from datetime data, one with month data and one with day of week data--
counts['month'] = pd.DatetimeIndex(counts['date']).month
counts['day_of_week'] = pd.DatetimeIndex(counts['date']).dayofweek #--Sunday thru Saturday in numerical form
counts.head()

### *Exercise: Checking/Changing Column Types

In [ ]:
#--1. Convert the payment_type column from trips from float back to int--
# trips.payment_type = trips.payment_type.astype(int)
# trips.dtypes

In [554]:
#--2. Create a column called 'day' in trips, where its values are the day number of the month--
# counts['day'] = pd.DatetimeIndex(counts['date']).day
counts.head()

         date  n_trips  month  day_of_week  day
0  2018-03-01   332802      3            3    1
1  2018-03-02   326944      3            4    2
2  2018-03-03   316823      3            5    3
3  2018-03-04   286326      3            6    4
4  2018-03-05   290631      3            0    5

## Summarizing
- descriptive statistics
    - df.describe()
    - df['column_name'].max()
    - df['column_name'].sum()
    - and more
- Any interesting findings in the trips dataframe?

In [678]:
#-- df.describe() returns statistical details like percentile, mean, std etc. of a data frame or a series of numeric values--
trips.describe()

### *Exercise: Summarizing

In [676]:
#--1. Find the maximum number of trips in the counts dataframe?--
counts.describe()

In [677]:
#--2. What's the total number of trips in March in the counts dataframe?--
counts.loc[counts['month'] == 3].sum()

## Replacing
- replacing string values
- replacing numerical values
- replacing nan values (missing data)

#### Replacing string or numerical values

In [ ]:
zones.head()

In [ ]:
# Replacing string values: this will replace instanceas of "Newark Airport" with "Newark Liberty International Airport"
zones = zones.replace(to_replace =["Newark Airport"],  
                            value = "Newark Liberty International Airport") 
zones.head()

#### Replacing NaN values

In [627]:
#--Replacing NaN values--
zones_na = pd.read_csv('data/na_taxi_zones_simple.csv')

In [672]:
#--notice the missing string value in locationid 4--
zones_na.head()

In [673]:
zones_na.isna().sum() #--check for the number NaN values

In [674]:
zones_na.dtypes #--check the datatypes of the zone column

In [630]:
zones_na = zones_na.fillna("unk") #--replace the NaN values with something that makes sense to your dataset, in this instance it's a string

In [671]:
zones_na.head() #--take a look at your dataframe after replacing values

In [670]:
#--Load new .csv file, fill NaN values--
counts_na = pd.read_csv('data/na_daily_taxi_counts_2018.tsv', sep='\t')
counts_na.head()

In [667]:
counts_na.dtypes

In [668]:
counts_na.isna().sum()

In [ ]:
counts_na.shape

In [669]:
counts_na = counts_na.fillna(0)

#### Why might we not want to fill the NaN values with 0's here?

In [675]:
counts_na.head()

### *Exercise: Replacing

In [ ]:
#--1. Load zones_na. Find how many NaN values are in the dataframe and which column they're in--
zones_na = pd.read_csv('data/na_taxi_zones_simple.csv')

In [613]:
#--2. Reload trips_na and convert the NaN values to the average value for that column-- 
trips_na = pd.read_csv('data/na_clean_taxi_sample.tsv', sep='\t')
trips_na.head()

In [614]:
trips_na.describe()

In [603]:
trips_na.n_trips.fillna((trips_na.n_trips.mean()), inplace=True)

In [615]:
trips_na.head()

In [616]:
trips_na.describe()

## Make New Columns (vector ops)

In [561]:
trips.shape

In [680]:
#--tip percentage per trip--
trips['tip_percent'] = trips['tip_amount']/trips['total_amount']

In [562]:
trips.shape

In [563]:
# trips.head(10)

### *Exercise: Making New Columns with vector operations

In [693]:
trips.head()

In [691]:
#--1. Create a new column in the trips dataframe called extra_charges 
# where the column value is the total_amount minus the fare_amount and the tip_amount--
# trips['extra_charges'] = trips['total_amount'] - trips['fare_amount'] - trips['tip_amount']
# trips.head()

In [696]:
#--2. Create a new column in the trips dataframe called extra_charge_perc 
# where the value is the percent of the extra_charges on the total_amount --
trips['extra_charge_perc'] = trips['extra_charges']/trips['total_amount']
# trips.head()

## Applying Functions to Columns
- Applying a function directly to a column
    - Example: The tip_percent column we created above looks a bit messy, lets fix it with the round() function 
- Using .apply()
    - Allows you to apply a function along an axis in a dataframe

In [ ]:
trips.head()

In [697]:
#-- Rounding values: this will change all of the values in the trips['tip_percent'] column --
trips['tip_percent'] = round(trips['tip_percent'], 4) #--change the value from a 4 to a 2 and see what happens--
trips['extra_charge_perc'] = round(trips['extra_charge_perc'], 4)
trips.head()

In [239]:
#--Finding the Sum of a Column: Using .apply() to find the sum of all taxi ride totals in this dataset--
trips[['total_amount']].apply(np.sum, axis=0)

total_amount    312235.2
dtype: float64

### *Exercise: Applying Functions to Columns

In [706]:
#--1. Create a new column in the zones dataframe called zone_lower, where the value is the lower case 
# version of the zone column. Do the same for the borough column and call it borough_lower --
zones['zone_lower'] = zones['zone'].str.lower()
zones['borough_lower'] = zones['borough'].str.lower()

In [833]:
#--2. Find the average value of tips in the trips dataframe using the .apply() function, then compare with trips.describe()
trips[['tip_amount']].apply(np.mean, axis=0)

In [704]:
# trips.describe()

## Renaming Things
- The rename() method can be used to rename any index, column, or row

In [745]:
zones = pd.read_csv('data/taxi_zones_simple.csv') 
zones.columns

Index(['locationid', 'zone', 'borough'], dtype='object')

In [746]:
#--Renaming 1 column at a time--
zones.rename(columns={'zone': 'Zone'}, inplace=True)

In [735]:
zones.columns

In [747]:
#--Renaming multiple columns at a time: 3 different approaches--
# zones.rename(columns={'locationid': 'LOCATIONID', 'borough': 'BOROUGH'}, inplace=True) #--Where inplace=True causes the name change to stay with the dataframe zones
# zones.rename({'locationid': 'LOCATIONID', 'borough': 'BOROUGH'},  axis='columns')
zones.rename({'locationid': 'Locationid','borough': 'Borough'}, inplace=True, axis= 1)

In [736]:
zones.columns

In [737]:
zones.head()

In [748]:
#--Using rename() to make all columns uppercase--
zones = zones.rename(columns=str.upper)
zones.head()

   LOCATIONID                     ZONE        BOROUGH
0           1           Newark Airport            EWR
1           2              Jamaica Bay         Queens
2           3  Allerton/Pelham Gardens          Bronx
3           4            Alphabet City      Manhattan
4           5            Arden Heights  Staten Island

### *Exercise: Renaming Things

In [757]:
#--1. Create a new variable counts_ch_cols. Assign the counts dataframe to it 
# where the column names are renamed to: Date, N_Trips, Month, Day_Of_Week, and Day. 

# counts_ch_cols = 

counts_ch_cols = counts.rename(columns=str.title)

In [760]:
#--2. In the dataframe counts_ch_cols, change the column title N_Trips to Number_Trips and Day to Day_Of_Month
counts_ch_cols.rename({'N_Trips': 'Number_Trips','Day': 'Day_Of_Month'}, inplace=True, axis= 1)
counts_ch_cols

In [ ]:
#--3. Convert the column names in the trips dataframe to all lowercase and assign it to the variable trips_lower--
trips_lower =

## groupby and unstack
- We use the groupby() function to split data into different groups based on some criteria
- unstack() is a pandas reshaping function, that pivots a level of the index labels

In [825]:
trips.head()

In [832]:
#--Using groupby() in pandas to find the total number of passengers in the dataset per pickup ID--
pass_byPUID = trips.groupby('PULocationID')['passenger_count'].size() 
pass_byPUID.to_frame() #--what happens when you comment out this line and run the line below?
# pass_byPUID.to_frame().reset_index()

In [828]:
avg_trip_dist = trips.groupby(['PULocationID'])['trip_distance'].mean().sort_values(ascending=False) #--Sorted average trip distance from a pickup location
avg_trip_dist.to_frame().reset_index() #--reset_index()unstacks the dataframe

### *Exercise: groupby and unstack

In [840]:
#--1. In the trips dataframe, what's the median total_amount based on payment_type? --
trips.groupby('payment_type')['total_amount'].median().to_frame().reset_index()

In [839]:
#--2. In the trips dataframe, what's the average tip amount per PULocationID? Put this in descending order. --
trips.groupby('PULocationID')['tip_amount'].mean().to_frame().reset_index()

## Resample and timedelta
- resample() is mainly used for time series data
- timedelta represents a duration, the difference between two dates or times.
    - all arguments are optional and default to 0
    - datetime.timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0)

#### resample()

In [878]:
#--timedelta: https://docs.python.org/3/library/datetime.html
from datetime import datetime, timedelta

In [867]:
hours = pd.read_csv('data/hourly_taxi_counts_2018.tsv', sep='\t')

In [856]:
#--Using datetime when opening the file and saving the dataframe and changing the date column to the index--
# parse_dates=["date"] converts 'date' column to datetime format and
# index_col='date', makes the 'date' column the index of the dataframe 
daily = pd.read_csv('data/daily_taxi_counts_2018.tsv', sep='\t', parse_dates=['date'], index_col='date')

In [863]:
#--This code will find the mean number of trips for each month for a duration of 12 months
resampled_data_month = daily.n_trips.resample('M').mean() 
# resampled_data_month

In [864]:
#--This code will find the mean number of trips for each week for a duration of 1 year
resampled_data_week = daily.n_trips.resample('W').mean() 
# resampled_data_week.head()

#### timedelta()

In [925]:
# Using current time 
ini_time_now = datetime.now() 
  
# printing initial_date 
print ("initial_date", str(ini_time_now))

initial_date 2020-01-08 09:56:40.532180

In [884]:
# Calculating future dates for two years 
date_in_two_years = ini_time_now + timedelta(days = 730) 
date_in_two_days = ini_time_now + timedelta(days = 2) 

# printing calculated future_dates 
print('date_in_two_years:', str(date_in_two_years)) 
print('date_in_two_days:', str(date_in_two_days))

future_date_after_2yrs: 2022-01-06 18:56:51.761942
future_date_after_2days: 2020-01-09 18:56:51.761942

### *Exercise: Resample and timedelta

In [ ]:
#--1. In the daily dataframe, find the mean number of trips for each quarter for the duration of 1 yaer

In [ ]:
#--2. Calculate past dates for 2 years ago and 2 hours ago--

date_2yrs_ago = ini_time_now - timedelta(days = 730) 
  
# for two hours 
date_2hrs_ago = ini_time_now - timedelta(hours = 2)

## Other useful functions

In [545]:
# .drop_duplicates()